###########################################################################
#
# Hardware specific changes, that has to be enabled or changed
#
###########################################################################

#
# Keyboard case/cover
#
CONFIG_KEYBOARD_PINEPHONE=m
CONFIG_IP5XXX_POWER=m

#
# Camera sensors
#
CONFIG_VIDEO_IMX258=m
CONFIG_VIDEO_OV8858=m

#
# Display support
#
CONFIG_ROCKCHIP_INNO_HDMI=y
CONFIG_ROCKCHIP_RGB=y
CONFIG_DRM_PANEL_HIMAX_HX8394=m
CONFIG_DRM_CDNS_DSI=m
CONFIG_DRM_DW_HDMI_AHB_AUDIO=m

#
# Main audio codec
#
CONFIG_SND_SOC_RT5640=m

#
# Flash LED
#
CONFIG_LEDS_SGM3140=m

#
# Sensors (magnetometer)
#
CONFIG_AF8133J=m

#
# USB & charging support
#
CONFIG_CHARGER_RK818=y
CONFIG_TYPEC_EXTCON=m
CONFIG_USB_SNP_UDC_PLAT=m
CONFIG_USB_CONN_GPIO=m

#
# Misc needed drivers
#
CONFIG_INPUT_BMA150=m
CONFIG_INPUT_REGULATOR_HAPTIC=m
CONFIG_INPUT_PWM_VIBRA=m

###########################################################################
#
# Disable unused options to minimize kernel size
#
###########################################################################

#
# Remove unused features/subsystems
#
CONFIG_ATA=n
CONFIG_PCI=n

#
# CPU IDLE has to be explicitly enabled here,
# because previously it was selected by
# CONFIG_ACPI, which is off now
#
CONFIG_CPU_IDLE=y

#
# Remove unused platforms
#
CONFIG_ARCH_ACTIONS=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_APPLE=n
CONFIG_ARCH_BCM=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_BITMAIN=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_SPARX5=n
CONFIG_ARCH_K3=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_NXP=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_MXC=n
CONFIG_ARCH_S32=n
CONFIG_ARCH_MA35=n
CONFIG_ARCH_NPCM=n
CONFIG_ARCH_QCOM=n
CONFIG_ARCH_REALTEK=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_ARCH_STM32=n
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_VISCONTI=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZYNQMP=n
